{:extension/meta
 {:name          "Simple Demo"
  :description   "A simple demo of extension"
  :documentation "Nothing. Just see a text with dynamic random color."}

 :hooks/main
 {:name        ""
  :description ""
  :view        #status/view [:main]}

 :views/main
 [view {}
  [text {} "Hello"]
  [text {:style {:color "green"}}
   "World?"]]}
